<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Insert title of application here</title>
	<!--Add CSS Framework Link (if using a CSS framework like Bootstrap or Materialize-->

	<!--jQuery link (Remove if not using jQuery) -->
	<script src="https://code.jquery.com/jquery.js"></script>

	<!--External Javascript link (Remove if not using any external Javascript file)-->
	<script src="/assets/js/app.js"></script>

	<!--External CSS (Remove if not using any external CSS file-->
	<link rel="stylesheet" href="/assets/css/app_style.css" type="text/css" />
	</style>
</head>
	<body>
		{{{ body }}}
	</body>
</html>
